

input{
 
    border: none;
    border-bottom:solid gray 1px;
    width:35%; 
   
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }


input[type="search"]::-webkit-search-cancel-button{
  -webkit-appearance:none;
}

  .icon{
      font-size: 15px;
      color: black;
      font-weight: bolder;
      font-style: italic;
      text-decoration: underline;
      cursor: pointer;
  }
