

  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Oswald:400,300,700);
  /*.expandable-list{
    position: absolute;
    top: 80%;
    left: 50%;
    width: 50%;
    height: 70vh;
    transform: translate(-50%, -50%);
   
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }

  .expandable-item {
    background: white;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    transition: all .4s;
    box-shadow: 0 4px 4px grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
  }



  .expandable-header {
    position: relative;
    height: 30px;
    font-weight: bolder;
  }
*/
  .expandable-icon {
    position: absolute;
    right: -60px;
    top: 0px;
    transform: rotateZ(45deg);
    border-radius: 5px;
    width: 25px;
    height: 25px;
    background: brown;
    cursor: pointer;
   
  }

  .expandable-icon .line {
    width: 15px;
    height: 2px;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all .4s;
  }

  .expandable-icon .line:nth-child(1) {
    transform: rotateZ(45deg);
  }
 

  .expandable-icon .line:nth-child(2) {
    transform: rotateZ(-45deg);
  }


.custom {
   opacity: 0;
   position: relative;
}

.custom + label {
   display: flex;
   align-items: center;
   cursor: pointer;
   position: relative;
}




.custom[type="radio"] + label::before {
   content: "";
   width: 1.4em;
   height: 1.4em;
   border: 1px solid rgba(black, 0.2);
   margin-right: 1em;
   border-radius: 50%;
   background-color: transparent;
   transition: all 300ms ease-in;
}

.custom[type="radio"] + label::after {
   content: "";
   position: absolute;
   left: 6px;
   top: 7px;
   width: 0.7em;
   height: 0.7em;
   background-color: white;
   border-radius: 50%;
   transform: scale(0);
   transition: transform 300ms ease-in-out;
}

.custom[type="radio"]:checked + label::before {
   background-color: brown;
   border: 1px solid rgba(black, 0);
}

.custom[type="radio"]:checked + label::after {
   transform: scale(0.9);
   border: 1px solid brown;
}




strong {
  font-weight: 600;
}

#content {
  margin-top: 50px;
  text-align: center;
}
/* Timeline */
.timeline {
  border-left: 4px solid #2a3542;;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 30px;
  list-style: none;
  text-align: left;
  font-weight: 1;
  max-width: 50%;
}

.timeline .event {
  border-bottom: 1px dashed #2a3542;;
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}


.timeline .event:before {
  left: -217.5px;
  color: #717171;
  content: attr(data-date);
  text-align: right;
  font-weight: 400;
  font-size: 0.9em;
  min-width: 120px;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px burlywood;
  left: -57.85px;
  background: brown;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

input{
  border: none;
  border-bottom:solid gray 1px;
  width:20%; 
  margin-left: 80%;
 
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


input[type="search"]::-webkit-search-cancel-button{
-webkit-appearance:none;
}
