
input{

    border: none;
    border-bottom:solid gray 1px;
    width:20%; 
   
  }
  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }
  
  input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance:none;
  }
  
  h1{
   
    display: inline-block;
    position: relative;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-style: italic;
    
   
  }
  
  