<div id="body">
   <app-nemu-bar></app-nemu-bar>

   <main >
      <div class="container-fluid">
    <div class="card">
       <div class="card-header" style="background: brown;color: white;">Calcul credit</div>
       <div class="card-body">
          <form class="form">
             <label >Montant</label>
             <input class="form-control mb-2" type="text" placeholder="0.00 DH" />
             <label>Durée</label>
             <input  class="form-control mb-2" type="text" placeholder="0.00 ANS" />
             
             <label>Taux</label>
             <select  class="custom-select">
               <option selected>-- Choose --</option>
               <option value="1">1%</option>
               <option value="2">2%</option>
               <option value="3">3%</option>
             </select>
             <input type="submit" class="mt-4 w-100 btn btn-outline-dark" value="Mensualite"/>
          </form>
       </div>
    </div>
 </div>
 </main>
 </div>
